@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: url("./albert.jpg");
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: gray;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.9;
  font-weight: bold;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

input,
select {
  max-width: 50%;
}

span {
  align-content: start;
}

select,
input {
  outline: none;
  border-radius: 16px;
  border-color: inherit;
  padding: 0.5rem;
  background: white;
}

select {
  border: none;
}

select:focus,
input:focus {
  border: 1px solid #0096ff;
}
