@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --myBlue: #0096ff;
}

body {
  height: calc(100vh - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background: url("./albert.jpg");
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: gray;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.9;
  font-weight: bold;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

select,
input {
  outline: none;
  border-radius: 16px;
  border: none;
  padding: 0.5rem;
  background: white;
}

input {
  border-bottom: 2px solid var(--myBlue);
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  background: var(--myBlue);
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}

button:hover {
  background: orange;
  opacity: 1;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-weight: normal;
  font-size: 0.8rem;
  max-width: 200px;
  display: none;
}

input.invalid {
  border-bottom-color: red;
}

input.valid {
  border-bottom-color: green;
}

.error.active {
  display: block;
}

.high-five {
  background: url("./raquel-garcia.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.high-five > div {
  background: var(--myBlue);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
